/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Header */
.header {
  background-color: #1f2937;
  color: white;
  padding: 20px 120px 80px;
}

/* Navbar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.links a {
  color: #e5e7eb;
  text-decoration: none;
  font-size: 14px;
}

/* Hero */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  gap: 40px;
}

.hero-text {
  max-width: 450px;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: 800;
}

.hero-text p {
  margin: 16px 0;
  color: #d1d5db;
}

.hero-text button {
  background-color: #3882f6;
  border: none;
  padding: 10px 24px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.hero-image img {
  width: 400px;
  height: auto;
}
/* Info Section */
.info {
  padding: 60px 120px;
  text-align: center;
}

.info h2 {
  font-size: 32px;
  margin-bottom: 40px;
}

.info-cards {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.card {
  width: 150px;
  font-size: 14px;
  color: #555;
}
/* Quote Section */
.quote {
  background-color: #e5e7eb;
  padding: 80px 200px;
}

.quote p {
  font-size: 28px;
  font-style: italic;
  color: #1f2937;
}

.quote span {
  display: block;
  margin-top: 20px;
  text-align: right;
  font-weight: bold;
  color: #111827;
}
/* Call To Action */
.cta {
  background-color: #3882f6;
  margin: 80px 120px;
  padding: 40px 80px;
  border-radius: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.cta h3 {
  margin-bottom: 6px;
}

.cta p {
  color: #e5e7eb;
}

.cta button {
  background-color: transparent;
  border: 2px solid white;
  padding: 8px 24px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
/* Footer */
.footer {
  background-color: #1f2937;
  color: #e5e7eb;
  text-align: center;
  padding: 30px;
  font-size: 14px;
}
